section.hero
  @include container
  
  .main-headline-wrap
    padding-top: 15.8 * $base-width
    width: 45%

    h1
      margin-bottom: 3.2 * $base-width

    .icon-wrap
      display: flex
      flex-direction: row
      gap: 2 * $base-width

      a
        transition: $transition
        img
          width: 3.5 * $base-width
          height: auto
          fill: $primary
        &:hover
          transform: translateY(-0.5rem)
          transition: $transition

  .start-image
    position: absolute
    right: 0
    top: 0
    z-index: 0
  
  .nextup-arrow--herosection
    top: 100.8rem
    position: absolute
    animation-name: nextuparrow
    animation-iteration-count: infinite
    animation-duration: 1s
    animation-delay: .1s
    animation-direction: alternate