// base-width
$base-width: 1rem

$header-height: 12.5 * $base-width

// fonts
$font-default: "Poppins", sans-serif
$font-headline: "Lemon Milk", sans-serif


// colors
$primary: #007EAE
$secondary: #024151
$font: #111111

$dark: #000
$light: #fff

// containers
$full: 1620px
$mobile: 95%

$center: 0 auto

// transition
$transition: all .3s ease-in-out

//breakpoints
$xxxl: 2560px
$xxl: 1920px
$xl: 1400px
$l: 1200px
$m: 900px
$s: 500px
