// base-width
$base-width: 1rem

// fonts
$font-default: "Poppins", sans-serif


// colors
$primary: #007EAE
$secondary: #024151
$font: #111111

$dark: #000
$light: #fff

// containers
$full: 1620px
$mobile: 95%

$center: 0 auto



//breakpoints
$xxxl: 2560px
$xxl: 1920px
$xl: 1400px
$l: 1200px
$m: 900px
$s: 500px